.rec-page-container {
    /*height: calc(100vh - 115px);*/
    /*width: 100vh;*/
    height: calc(100vh - 209px);
    background: #e8e8e8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    /*align-items: center;*/
    /*justify-content: center;*/
}

/*.rec-container {*/
/*    position: relative;*/
/*    align-content: center;*/
/*    !*margin-top: 100px;*!*/
/*}*/

.rp-main-container {
    place-self: center center;
}

.white-rect {
    /*z-index: 1000;*/
    width: 600px;
    height: 450px;
    /*place-self: center center;*/
    /*margin-left: calc((100%/2 - 225px));*/
    /*min-height: 565px;*/
    /*margin-top: 493px;*/
    /*margin-right: calc(((100% - 940px) / 2));*/
    /*margin: -510px 50px 195px calc((100% / 2));*/
    padding: 30px 40px 30px 40px;
    /*position: relative;*/
    /*flex: 1;*/
    /*max-width: 100%;*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
    background-color: white;
    border: 1px solid #999999;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-family: sans-serif;
}

.text-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text-body {
    font-size: 20px;
    text-align: left;
}


.rp-button {
    margin-top: 30px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 16px;
    text-transform: uppercase;
    min-height: 40px;
    align-content: center;
    margin-bottom: 30px;
    display: inline-block;
    font-style: initial;
    white-space: nowrap;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 17px 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #999999;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}

.wrong {
    width: 200px;
    background: white;
}

.other {
    margin-left: 201px;
    background: #e7463f;
    width: 280px;
}
