.acc-fb-red-rect {
    height: 459px;
    margin-top: 130px;
    margin-bottom: 0;
    background: #d4baba;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
    box-sizing: border-box;
    display: block;
}

.acc-fb-white-rect {
    z-index: 1000;
    width: 550px;
    /*height: 550px;*/
    min-height: 565px;
    /*margin-top: -493px;*/
    /*margin-right: calc(((100% - 940px) / 2));*/
    margin: -510px 50px 110px 200px;
    padding: 30px 40px 15px 40px;
    position: relative;
    flex: 1;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    border-color: #999999;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.acc-fb-rn-first-text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background-color: #e7463f;
    display: flex;
    position: relative;
    box-sizing: border-box;
    /*font-family: Roboto,sans-serif;*/

    font-size: 1.25rem;
    line-height: 1.2;
}

.acc-insert-form-header {
    margin: 28px 0px 40px 0px;
}

.acc-fb-wr-insert-form-container {
    /*padding: 30px 50px 30px 40px;*/
    align-content: center;
    position: relative;
    /*flex: 1;*/
    width: inherit;
}

.acc-fb-wr-insert-form-label {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 10px 0 0 10px;
    text-align: center;
}

.acc-insert-form {
    /*padding: 10px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*width: inherit;*/
    width: 100%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: flex-end;*/
    /*text-align: left;*/
}

.acc-insert-form-button {
    box-sizing: border-box;
    color: #000000 !important;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    background-color: transparent;
    min-height: 40px;
    width: 100%;
    align-content: center;
    margin-top: 1px;
    margin-bottom: 30px;
    /*position: relative;*/
    display: inline-block;
    font-family: inherit;
    font-style: initial;
    white-space: nowrap;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 25px 10px;
    border-radius: 0;
    /*align-self: flex-start;*/
    position: relative;
}

.acc-red-boarder {
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.acc-submit-button-label {
    /*margin: 160px auto auto auto;*/
    /*position:fixed;*/
    position: absolute;
    /*top: 75px;*/
    bottom: 0px;
    /*right: 0px;*/
    /*left: 0px;*/
}

#image, #language-button, #submit {
    display: none;
}

.acc-insert-form-langs-container {
    position: relative;
}

.acc-insert-form-langs {
    position: absolute;
    top: 76px;
    z-index: 100;
    width: 100%;
    /*padding: 26px 10px 10px 10px;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: black;*/
    /*box-sizing: border-box;*/
}

.acc-insert-form-lang {
    box-sizing: border-box;
    color: #000000;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: black;*/
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    background: white;
    padding: 25px 10px;
    min-height: 40px;
    align-content: center;
    cursor: pointer;
}

.forms-cont{
    box-sizing: border-box;
}

/*.mf-container {*/
/*    margin-top: 100px;*/
/*    padding-top: 300px;*/
/*}*/

/*.file-button {*/
/*    */
/*}*/
